# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# Generated data
data/bronze/*
data/silver/*
data/gold/*

# Keep empty folders in Git
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep